body {
  font-family: 'Work Sans', sans-serif;
  padding-left: 200px;
  padding-right: 200px;
  height: 400px; }
  body .table {
    transform: uppercase;
    border: 1px solid lightgrey; }
    body .table th, body .table td {
      border-right: 1px solid lightgrey; }

.shopular {
  text-align: center;
  margin-bottom: 20px; }

.colorIcon {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px; }
