body {
	font-family: 'Work Sans', sans-serif;
	
	.table{
		transform: uppercase;
		border: 1px solid lightgrey;
		padding-top: 50px;
		th, td{
			border-right: 1px solid lightgrey;
		}
	}



}

.shopular{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
	color: #4ECDC4;
}

.topGreyRow{
	height: 0px;
}
.colorIcon{
	display: inline-block;
	height: 12px;
	width: 12px;
	margin-right: 5px;
	border-radius: 50%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .4);
}
header{
	background-color: #292F36;
	margin-bottom: 20px;
}

.js{
	color: white;
}
.bottomLine{
	background: #FF6B6B;
	height: 10px;
}

img{
	width: 20px;
	height: 20px;
}

.login{
	position: absolute;
	margin-left: 20px;
	margin-top: 30px;
	background: #FF6B6B;
}

.well{
	position: absolute;
	margin-left: 100px;
	padding: 10px;
}

.increaseDecrease{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: #4ECDC4;
	border: none;
	margin-right: 5px;
	margin-left: 5px;
}

span{
	width: 30px;
	display: inline-block;
	text-align: center;
}